<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css">
  <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.14.0/css/all.css">
  <link rel="stylesheet" href="/public/stylesheets/common.css">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <form action="<%= url %>" method="POST" enctype='multipart/form-data'>
      <div class="form-group">
        <label for="url">リクエスト</label>
        <input type="text" class="form-control" id="url" name="url" value="POST <%= url %>" readonly>
      </div>
      <div class="form-group">
        <label for="guid">GUID</label>
        <input type="text" class="form-control" id="guid" name="guid" value="<%= guid %>" readonly>
      </div>
      <div class="form-group">
        <label for="file1">ファイル</label>
        <input type="file" class="form-control-file" id="file1" name="file1">
      </div>
      <div class="form-group">
        <label for="tag1">タグ</label>
        <select class="form-control" id="tag1" name="tag1">
          <option value=""></option>
          <option value="Hemlock">Hemlock</option>
          <option value="Japanese_Cherry">Japanese Cherry</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">送信</button>
    </form>
  </div>
</body>
</html>